# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
*.jpg
*.png
*.zip
*.xlsx

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/
.pytest_chache/

# Misc.
/mlw-data/zettel/
/mlw-data/data.json
/mlw-data/__pycache__
Theory/
*.jpg
notebooks/temp_link/
*json
.venv/
*.csv
models/
wandb/
mlruns/
data/interim/lemmata_img/
figures/
example/
zettel/

# Lectiomat Library
!./Lectiomat/tests/assets/ex1.png
!./Lectiomat/tests/assets/ex2.png
!./Lectiomat/tests/assets/ex3.png

# Hydra
outputs/

# StatDrive
/data/StatHD
*.xlsx
*.txt

# R
.RData
.Rhistory
